.time-chooser {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;

  &.show {
    opacity: 1;
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
  }

  &.hide {
    opacity: 0;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
  }

  &.visible {
    left: 0;
    width: auto;
  }

  &.invisible {
    left: -99999999px;
    width: 0;
  }
}
.time-chooser-message {
  margin-top: 20px;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 26;
  line-height: 2.6rem;
}
.time-chooser-select {
  max-width: 300px;
  margin-top: 30px;
}
