@import '../../../colors.scss';

.list-wrapper {
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 100%;
  background: $color-kett-green-secondary;
  color: $color-kett-white;
  text-align: left;

  @media screen and (max-width: 1280px) {
    width: 470px;
  }
}
.list-error {
  padding: 20px 20px 0;
}
.list-results {
  direction: rtl;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  margin: 20px;

  /* width */
  &::-webkit-scrollbar {
    position: relative;
    width: 25px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-kett-white;
    border-right: solid 15px $color-kett-green-secondary;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-kett-gold;
    border-right: solid 15px $color-kett-green-secondary;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-kett-gold;
  }

  .list-results-item {
    position: relative;
    width: 100%;
    padding: 0 10px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    cursor: pointer;
    &:hover {
      color: $color-kett-gold;
    }
    &.active {
      color: $color-kett-gold;
    }
  }

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  &:hover {
    > .tooltiptext {
      visibility: visible;
    }
  }

  .list-results-heading {
    margin: 0 10px 0 0;
    text-transform: uppercase;
    text-align: left;
    color: $color-kett-white;
    border-bottom: 1px solid $color-kett-white;
    &.places {
      margin-top: 20px;
    }
    &.stories {
      margin-top: 20px;
    }
  }
}
