@import '../../../colors.scss';
.search {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.search-nav {
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: 0 0 0 10px;
  color: $color-kett-white;
  background: $color-kett-grey-secondary;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  &:hover {
    background: $color-kett-gold;
  }
  .fa-icon {
    font-size: 12px;
  }
  span {
    margin-left: 5px;
    font-size: 16px;
    line-height: 30px;
    @media screen and (max-width: 1280px) {
      display: none;
    }
  }
}
.search-clear-icon {
  position: absolute;
  top: 2px;
  right: 41px;
  font-size: 22px;
  color: $color-kett-off-white;
  cursor: pointer;
  &:hover {
    color: $color-kett-grey-primary;
  }
}
.search-input {
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
  @media screen and (max-width: 1280px) {
    padding-left: 10px;
  }
}
.search-input input {
  border: none;
  padding: 0 10px;
  flex-grow: 1;
}
.search-input-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background: $color-kett-gold;
}
.search-input-icon .fa-icon {
  color: $color-kett-white;
}
.history {
  background: $color-kett-white;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 100;
  width: 340px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.history-heading {
  min-height: 47px;
  padding: 10px 20px;
  color: $color-kett-white;
  background: $color-kett-grey-secondary;
}
.history-list {
  max-height: 300px;
  padding: 10px;
  background: $color-kett-green-secondary;
  color: $color-kett-white;
  overflow-y: auto;
  overflow-x: hidden;
  /* width */
  &::-webkit-scrollbar {
    position: relative;
    width: 10px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #c8c7c7;
    border-right: solid 0 $color-kett-green-secondary;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #484747;
    border-right: solid 0 $color-kett-green-secondary;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #484747;
  }
}
.history-list-item {
  color: $color-kett-white;
  cursor: pointer;
  &:hover {
    color: $color-kett-gold;
  }
  &.active {
    color: $color-kett-gold;
  }
}
.history-footer {
  display: flex;
  justify-content: center;
  min-height: 47px;
  padding: 10px 20px;
  background: $color-kett-grey-secondary;
}
.history-clear {
  padding: 2px 9px;
  margin: 0;
  background: #fff;
  color: #000;
  border-radius: 15px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 23px;
  line-height: 2.3rem;
  letter-spacing: 0.35px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  &:hover {
    background: $color-kett-gold;
  }
}
