@import '../../../colors.scss';
.search {
  position: relative;
  display: flex;
  justify-content: space-between;
}
// .search-nav {
//   padding: 0 10px;
//   @media screen and (max-width: 1280px) {
//     display: none;
//   }
// }
// .search-nav .fa-icon {
//   color: #8f8d8d;
//   cursor: pointer;
//   margin: 0 10px;
// }
// .search-nav .fa-icon:hover {
//   color: #fff;
// }
.search-input {
  display: flex;
  flex-grow: 1;
  padding-left: 20px;
  // @media screen and (max-width: 1280px) {
  //   padding-left: 10px;
  // }
}
.search-input input {
  border: none;
  padding: 0 10px;
  flex-grow: 1;
}
.search-input-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background: $color-kett-gold;
}
.search-input-icon .fa-icon {
  color: $color-kett-white;
}
.history {
  background: $color-kett-white;
  border-radius: 8px;
  position: absolute;
  top: 45px;
  left: 20px;
  z-index: 100;
  width: 296px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.history-heading {
  padding: 5px;
  border-bottom: 1px solid $color-kett-off-white;
}
.history-list {
  padding: 10px;
  background: $color-kett-green-secondary;
  color: $color-kett-white;
}
.history-list-item {
  color: $color-kett-white;
  cursor: pointer;
  &:hover {
    color: $color-kett-gold;
  }
  &.active {
    color: $color-kett-gold;
  }
}
.history-clear {
  padding: 5px;
  border-top: 1px solid $color-kett-off-white;
}
