@import '../../../../../colors.scss';
.form-thumb {
  position: relative;
  margin: 0 10px 10px 0;
  img {
    float: left;
    display: block;
    width: 100px;
    height: auto;
  }
  .clear {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background: $color-kett-white;
    .fa-icon {
      font-size: 24px;
    }
  }
}
