.menu-logo {
  width: 53px;
  margin-right: 20px;
}
.menu-logo img {
  width: 100%;
  height: auto;
}
.menu-container {
  position: relative;
  z-index: 498;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.menu-trigger {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  vertical-align: middle;
  padding: 0;
  margin-left: auto; /* Strictly for positioning */
  color: #fff;
  background: none;
}
button.menu-trigger span {
  margin: 0 10px 0 0;
  font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  letter-spacing: 0.18rem;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 22px;
  line-height: 2.2rem;
  @media screen and (max-width: 1280px) {
    display: none;
  }
}
button.menu-trigger .fa-icon {
  font-size: 30px;
}
.menu-trigger img {
  border-radius: 90px;
}
.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

.menu li a.active {
  color: #e6a100;
}
