@import '../../../colors.scss';
.map-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: auto;
  height: 100%;
  &.close {
    flex-grow: 0;
  }
}
.map {
  width: 100%;
  height: 100%;
}
.loader {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.esri-popup__main-container {
  background: #1e3633 !important;
  color: #fff !important;
}
.esri-ui .esri-popup {
  margin-bottom: 20px;
  margin-left: 4px;
}
.esri-popup__footer {
  padding: 0;
  margin: 0 !important;
  background: $color-kett-grey-secondary !important;
}
.esri-popup__pointer-direction {
  background: $color-kett-grey-secondary !important;
  transform: none !important;
  top: -15 !important;
  height: 30px !important;
  width: 3px !important;
}
.esri-popup__header {
  background: $color-kett-grey-secondary;
}
.esri-popup__header-container--button:hover {
  background: none;
}
.esri-popup__header-buttons {
  background: #000;
}
.esri-popup__button.esri-popup__button--dock {
  display: none;
}
.esri-popup__icon.esri-icon-close {
  color: #fff;
}
.esri-popup__header-title {
  padding: 5px 7px !important;
}
.esri-popup__header-title:hover {
  background: none !important;
}
.esri-popup__navigation {
  position: absolute;
  z-index: 1;
  bottom: 8px;
  right: 0;
  background: none !important;
}
.esri-popup__button {
  color: #fff !important;
}
.esri-popup__feature-menu-button:hover,
.esri-popup__feature-menu-button:focus,
.esri-popup__button:hover {
  background: #408482 !important;
}
.esri-popup__main-container {
  background: $color-kett-green-secondary !important;
}
.esri-popup__content {
  position: relative;
  margin: 0 !important;
  overflow: visible;
}
.esri-feature {
  background: none !important;
  color: $color-kett-white !important;
}
.esri-feature-content {
  padding: 0;
}
.esri-expand__content {
  background: $color-kett-white;
}
.esri-ui-corner .esri-component {
  box-shadow: none;
}
.main-map-picker,
.details-map-picker {
  width: 250px;
  padding: 20px;
  h2 {
    margin: 0 0 10px 0;
  }
  p {
    margin: 0 0 15px 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin-bottom: 5px;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        color: $color-kett-green-primary;
      }
      &.active {
        color: $color-kett-green-primary;
      }
      span {
        display: none;
      }
    }
  }
}
.share-story {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  margin: 0 20px 20px 0;
  border-radius: 50%;
  background: $color-kett-green-3;
  color: $color-kett-white;
  transition-property: all;
  transition-timing-function: ease-out;
  transition-duration: 0.5s;
  .fa-icon {
    font-size: 20px;
  }
  span {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 20;
    line-height: 2rem;
    letter-spacing: 0.4px;
    font-weight: 400;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-4px);
  }
}
.explorer-help {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  margin: 0 20px 20px 0;
  border-radius: 50%;
  background: $color-kett-green-3;
  color: $color-kett-white;
  transition-property: all;
  transition-timing-function: ease-out;
  transition-duration: 0.5s;
  .fa-icon {
    font-size: 20px;
  }
  span {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 20;
    line-height: 2rem;
    letter-spacing: 0.4px;
    font-weight: 400;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-4px);
  }
}
.map-popup {
  position: relative;
  padding: 35px 0 0;
  margin: 0;
  background: $color-kett-green-secondary;
}
.map-popup-tabs {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;

  .tab {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    cursor: pointer;
    span {
      margin-left: 5px;
      font-weight: bold;
      font-size: 16px;
    }
    &.active {
      &::after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: calc(50% - 3px);
        border-top: 6px solid transparent;
        width: 0px;
        height: 0px;
        z-index: 1001;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
    }
  }

  .tab-people {
    background: $color-kett-people;
    color: $color-kett-white;
    &.active {
      &::after {
        border-top: 6px solid $color-kett-people;
      }
    }
  }
  .tab-places {
    background: $color-kett-places;
    color: $color-kett-white;
    &.active {
      &::after {
        border-top: 6px solid $color-kett-places;
      }
    }
  }
  .tab-stories {
    background: $color-kett-stories;
    color: $color-kett-white;
    &.active {
      &::after {
        border-top: 6px solid $color-kett-stories;
      }
    }
  }
}
.map-popup-data {
  height: 100%;
  max-height: 250px;
  margin: 15px 0;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  /* width */
  &::-webkit-scrollbar {
    position: relative;
    width: 25px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-kett-white;
    border-right: solid 15px $color-kett-green-secondary;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-kett-gold;
    border-right: solid 15px $color-kett-green-secondary;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-kett-gold;
  }
  .data {
    display: none;
    &.active {
      display: block;
    }
  }
  ul {
    margin: 0;
    padding: 0 10px 0 40px;
  }
  li {
    text-align: left;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
    letter-spacing: 0.2px;
    cursor: pointer;
    &::marker {
      color: $color-kett-green-primary;
    }
    &:hover,
    &.active {
      color: $color-kett-gold;
    }
    .id,
    .recnumber,
    .loctype,
    .markerid,
    .pointx,
    .pointy,
    .mapyear {
      display: none;
    }
  }
}
.data-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 47px;
  padding: 10px 20px;
  background: $color-kett-grey-secondary;
  .full-details {
    float: left;
    padding: 2px 9px;
    margin: 0;
    background: $color-kett-white;
    color: $color-kett-black;
    border-radius: 15px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 23px;
    line-height: 2.3rem;
    letter-spacing: 0.35px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &:hover {
      background: $color-kett-gold;
    }
  }
  .timemachine {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    .back {
      margin-right: 5px;
      cursor: pointer;
      &:hover {
        color: $color-kett-gold;
      }
      .far {
        margin-right: 5px;
      }
    }
    .forward {
      margin-left: 5px;
      cursor: pointer;
      &:hover {
        color: $color-kett-gold;
      }
      .far {
        margin-left: 5px;
      }
    }
    .tooltip {
      display: none;
      position: absolute;
      width: 250px;
      padding: 15px;
      background: $color-kett-black;
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 18px;
      line-height: 2rem;
      text-align: left;
      animation-delay: 2s;
      animation: fadeIn 3s;
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      &.time {
        bottom: -155px;
        right: -180px;
        &::before {
          content: '';
          position: absolute;
          top: -10px;
          left: 10px;
          border-bottom: 10px solid $color-kett-black;
          width: 0px;
          height: 0px;
          z-index: 1001;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
        }
      }
      &.data {
        bottom: -15px;
        right: -280px;
        &::before {
          content: '';
          position: absolute;
          top: 20px;
          left: -10px;
          border-right: 10px solid $color-kett-black;
          width: 0px;
          height: 0px;
          z-index: 1001;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }
      }
      div {
        width: 100%;
      }
      span {
        display: inline-block;
        margin: 10px 0 0 0;
        padding: 2px 8px;
        background: $color-kett-white;
        color: $color-kett-black;
        cursor: pointer;
        &:hover {
          border-radius: 5px;
        }
      }
    }
  }
}
.esri-popup__inline-actions-container,
.esri-popup__feature-menu {
  display: none;
}
