@import '../../../colors.scss';
.filters {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  height: 100%;
  margin-right: 20px;
  color: #fff;
}
.filters-left {
  display: flex;
  align-items: center;
  min-width: 280px;
  @media screen and (min-width: 1400px) {
    min-width: 370px;
  }
}
.filters-right {
  display: flex;
  align-items: center;
  height: 100%;
}
