@import '../../../colors.scss';
.navbar-timeline {
  flex-grow: 1;
  display: flex;
  padding: 0 25px;
  color: #fff;
  @media screen and (max-width: 1280px) {
    padding: 0 10px;
  }
}
.label-min {
  padding-right: 15px;
}
.label-max {
  padding-left: 15px;
}
.segments {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.segment-wrapper {
  z-index: 1;
  &.last-wrapper {
    flex-grow: 1;
  }
}
.segment {
  position: relative;
  height: 8px;
  width: 100%;
  background: $color-kett-grey-secondary;
  &:hover {
    background: $color-kett-gold;
    cursor: pointer;
  }
  &.active {
    background: $color-kett-gold;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 8px;
    background: #424242;
  }
}
.pip {
  position: absolute;
  z-index: 2;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $color-kett-gold;
}
.timeline-reset {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  margin: 0 25px 0 0px;
  color: $color-kett-white;
  background: $color-kett-grey-secondary;
  border: none;
  cursor: pointer;
  &:hover {
    background: $color-kett-gold;
  }
  @media screen and (max-width: 1280px) {
    margin: 0 10px 0 0px;
  }
  .fa-icon {
    font-size: 12px;
  }
  span {
    margin-left: 5px;
    font-size: 16px;
    line-height: 30px;
    @media screen and (max-width: 1280px) {
      display: none;
    }
  }
}
