@import '../../../colors.scss';
.navbar-timeline {
  flex-grow: 1;
  display: flex;
  padding: 0 25px;
  color: #fff;
}
.label-min {
  padding-right: 15px;
}
.label-max {
  padding-left: 15px;
}
.segments {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.segment-wrapper {
  z-index: 1;
  &.last-wrapper {
    flex-grow: 1;
  }
}
.segment {
  position: relative;
  height: 8px;
  width: 100%;
  background: $color-kett-grey-secondary;
  &:hover {
    background: $color-kett-gold;
    cursor: pointer;
  }
  &.active {
    background: $color-kett-gold;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 8px;
    background: #424242;
  }
}
.pip {
  position: absolute;
  z-index: 2;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $color-kett-gold;
}
.timeline-reset {
  margin-right: 25px;
  padding: 0 15px;
  color: $color-kett-white;
  background: $color-kett-grey-secondary;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background: $color-kett-gold;
  }
}
