.navbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #424242;

  &.show {
    display: flex;
  }

  &.hide {
    display: none;
  }
}
.navbar-left {
  width: 350px;

  @media screen and (max-width: 1280px) {
    width: 280px;
  }
}
.navbar-middle {
  flex-grow: 1;
  display: flex;
}
.navbar-right {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px 0 5px;
  background: #363636;
}
