@import '../../../colors.scss';

.details-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  padding: 20px 20px 160px;
  background: $color-kett-white;
  color: $color-kett-black;
  text-align: left;
  box-shadow: 10px 1px 20px rgba(0, 0, 0, 0.3);
}
.details-title {
  position: relative;
  padding: 0 40px 0 0;
  h1 {
    margin: 0;
    font-size: 30px;
    font-size: 3rem;
    line-height: 36;
    line-height: 3.6rem;
    letter-spacing: 0.75px;
    font-weight: normal;
  }
}
.details-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  .fa-icon {
    font-size: 16px;
    color: $color-kett-grey-secondary;
    &:hover {
      color: $color-kett-black;
    }
  }
}
.details-sources {
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  position: relative;
  width: 100%;
  padding: 6px 10px;
  margin: 20px 0;
  border: 1px solid #707070;
  border-radius: 0;
  cursor: pointer;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 18;
  line-height: 1.8rem;
  letter-spacing: 0.4px;
  font-weight: 500;
  // Custom arrow
  &:not(.select--multiple)::after {
    content: '';
    justify-self: end;
    width: 0.8em;
    height: 0.45em;
    margin-top: -17px;
    background-color: #000;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
  select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    // Stack above custom arrow
    z-index: 1;
    // Remove dropdown arrow in IE10 & IE11
    // @link https://www.filamentgroup.com/lab/select-css.html
    &::-ms-expand {
      display: none;
    }
    // Remove focus outline, will add on alternate element
    outline: none;
    // New custom styles
    grid-area: select;
    &::after {
      grid-area: select;
    }
  }
}
.detail-blocks {
  flex-shrink: 1;
  overflow-y: auto;
  overflow-x: hidden;
  /* width */
  &::-webkit-scrollbar {
    position: relative;
    width: 10px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #c8c7c7;
    border-right: solid 0 $color-kett-green-secondary;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #484747;
    border-right: solid 0 $color-kett-green-secondary;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #484747;
  }
}
.detail-photos {
  margin: 20px 0 0 0;
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
  img {
    width: 100%;
    height: auto;
  }
}
.detail-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .share-related-story {
    padding: 5px 12px;
    background: $color-kett-gold;
    color: $color-kett-black;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 18;
    line-height: 1.8rem;
    letter-spacing: 0.4px;
    transition: all 0.3s ease-in;
    &:hover {
      background: #7e7e7e;
      color: $color-kett-white;
    }
  }
  .action-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #7e7e7e;
    color: $color-kett-white;
    transition: all 0.3s ease-in;
    &:hover {
      background: $color-kett-black;
    }
  }
}
.detail-related {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  .detail-related-heading {
    width: 100%;
    padding: 9px 20px;
    background: $color-kett-black;
    color: $color-kett-white;
    font-size: 30px;
    font-size: 3rem;
    line-height: 36;
    line-height: 3.6rem;
    letter-spacing: 0.75px;
    font-weight: 300;
    span {
      position: relative;
      top: -2px;
      font-size: 20px;
      font-size: 2rem;
      line-height: 24;
      line-height: 2.4rem;
      letter-spacing: 2px;
      font-weight: 700;
    }
  }
  .detail-related-tabs {
    display: flex;
    .tab {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 33.3333%;
      height: 88px;
      font-size: 23px;
      font-size: 2.3rem;
      line-height: 32;
      line-height: 3.2rem;
      letter-spacing: 0.57px;
      color: $color-kett-white;
      &.people {
        background: $color-kett-people;
      }
      &.places {
        background: $color-kett-places;
      }
      &.stories {
        background: $color-kett-stories;
      }
      .fa-icon {
        font-size: 28px;
      }
    }
  }
}
