.status {
  display: flex;
  padding: 0 20px;
  font-size: 30px;
  font-size: 3rem;
  line-height: 30px;
  line-height: 3rem;
  letter-spacing: 0.75px;
  font-weight: 300;
}
.status-divider {
  position: relative;
  top: 14px;
  width: 8px;
  height: 8px;
  margin: 0 10px;
  border-radius: 50%;
  background: #fff;
}
