@import '../../../colors.scss';

.list-wrapper {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100%;
  padding: 20px;
  background: $color-kett-green-secondary;
  color: $color-kett-white;
  text-align: left;
}
.list-results {
  //padding-left: 20px;
  direction: rtl;
  overflow: auto;
  flex-grow: 1;

  /* width */
  &::-webkit-scrollbar {
    position: relative;
    width: 25px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-kett-white;
    border-right: solid 15px $color-kett-green-secondary;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-kett-gold;
    border-right: solid 15px $color-kett-green-secondary;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-kett-gold;
  }

  .list-results-item {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
  }

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  &:hover {
    > .tooltiptext {
      visibility: visible;
    }
  }

  .list-results-heading {
    text-transform: uppercase;
    text-align: left;
    color: $color-kett-white;
    border-bottom: 1px solid $color-kett-white;

    &.people {
      //background: $color-kett-people;
    }

    &.places {
      margin-top: 20px;
      //background: $color-kett-places;
    }

    &.stories {
      margin-top: 20px;
      //background: $color-kett-stories;
    }
  }
}
