.App {
  height: 100%;
  text-align: center;
}

.page-content {
  display: flex;
  height: calc(100% - 120px);
}

.esri-widget__heading {
  color: #fff !important;
  text-transform: uppercase;
}

.esri-widget__heading.esri-legend__service-label {
  color: #000 !important;
}

.esri-slider__content {
  height: 250px;
}

.esri-slider--vertical {
  width: 32px !important;
}

.esri-legend {
  width: 230px !important;
}

.esri-ui-top-right {
  top: 50px;
  right: 60px;
}
