.App {
  height: 100%;
  text-align: center;
}

.container {
  height: calc(100% - 62px);
}

.esri-widget__heading {
  color: #fff !important;
  text-transform: uppercase;
}

.esri-widget__heading.esri-legend__service-label {
  color: #000 !important;
}

.esri-slider__content {
  height: 250px;
}

.esri-slider--vertical {
  width: 32px !important;
}

.esri-legend {
  width: 230px !important;
}

.esri-ui-top-right {
  top: 50px;
  right: 60px;
}

.esri-popup__pointer-direction {
  background: white;
  width: 4px !important;
  height: 22px !important;
  transform: none !important;
}

.esri-popup--aligned-bottom-center .esri-popup__pointer-direction {
  left: 4px !important;
  bottom: -12px !important;
}

.esri-popup--aligned-top-center .esri-popup__pointer-direction {
  top: -12px !important;
}

.esri-popup--aligned-top-center .esri-popup__pointer {
  margin: 0 0 0 -3px !important;
}

.esri-popup__main-container {
  margin: 12px !important;
}

.esri-ui .esri-popup {
  box-shadow: none !important;
}
