.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.map {
  width: 100%;
  height: 100%;
}

.clusterWidget {
  background: #303030 !important;
}

.clusterButton {
  color: #fff !important;
  background: #3b7977 !important;
}

.legend {
  color: #fff !important;
  background: #303030 !important;
}

.slider {
  width: 50px;
}

.dropdown {
  margin-top: 20px;
}

.picker {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 205px;
  padding: 10px 20px;
}

.custom {
  position: absolute;
  top: 80px;
  left: 30px;
  width: 150px;
  padding: 5px 10px !important;
}

.add {
  position: absolute;
  top: 80px;
  left: 180px;
  height: 34px;
  width: 55px;
  padding: 5px 10px !important;
  background: #999;
  color: #fff;
}
